.container-chat{ 
    width: 100vh;
    margin: auto;
}

.chat{
    display:flex;
    flex-direction:column;
    height:100vh;
    background: #f1f0e8;
}

.chat-header {
	display: flex;
	cursor: pointer;
}
.profile {
	width: 100%;
	background: #036055;
	display: flex;
	align-items: center;
	height: 80px;
	padding: 0px 10px;
	position: relative;
}
.profile .pp {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	margin-left: 32px;
	margin-left: 32px;
	margin-bottom:12px;
}
.profile .arrow {
	display: inline-block;
	width: 30px;
	position: absolute;
	top: 19px;
	cursor: pointer;
}
.profile h2 {
	display: inline-block;
	line-height: 60px;
	vertical-align: bottom;
	color: #fff;
	font-size: 20px;
}
.profile span {
	color: #ccc;
	position: absolute;
	top: 42px;
	left: 100px;
	font-size: 14px;
}
.right .icon {
	display: inline-block;
	width: 25px;
	margin-left: 10px;
}
.profile .left {
	flex: 1;
}

.chat-box {
	padding-left: 20px;
	overflow-y: scroll;
	flex: 1;
}

.chat-r {
	display: flex;
}
.chat-r .sp {
	flex: 1;
}

.chat-l {
	display: flex;
}
.chat-l .sp {
	flex: 1;
}

ion-icon {
	font-size: 35px;
	padding: 0px;
	margin: 0px;
  }

.chat-box .mess {
	max-width: 300px;
	background: #F7FCF6;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0px;
	cursor: pointer;
}
.chat-box .mess p {
	word-break: break-all;
	font-size: 18px;
	margin-bottom: 0px;
}
.chat-box .mess-r {
    background: #E2FFC7;
}

.chat-box .check {
	float: right;
}
.chat-box .check img {
	width: 20px;
}
.chat-box .check span {
	color: #888;
	font-size: 12px;
	font-weight: 700px;
}

*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
	background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.chat-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	position: relative;
	cursor: pointer;
	margin-left:10px;
	margin-right:10px;
}

form {
	width: 100%;
}
form input.textarea{
	display: inline-block;
	flex: 1;
	width: 80%;
	border-radius: 60px;
	margin: 5px;
	padding: 10px;
	outline: none;
	border: 2px solid #ccc;
	resize: none;
}

/* .btn #chat{
	display: inline-block;
	flex: 1;
	width: 10%;
	height: 60px;
	margin: 5px;
	font-size: 19px;
} */

input[type="file"] {
    display: none;
}
label {
    text-align: center;
    display: inline-block;
    cursor: pointer;
	font-size: 30px;
	padding: 0px;
	margin-top: 10px;
}

a {
	text-decoration:none;
	color: inherit;
}